<div class="filters-block">

    <accordion close-others="false" template-url="window.versionDirectory + 'lib/angular-ui/accordion.html'">
        <accordion-group is-open="openFilters[filter.rangeUrlTemplate]"
                         heading="{{ 'filters.' + filter.rangeUrlTemplate | translate }} {{ filter.selectedCountLabel }}"
                         ng-repeat="filter in filters">
            <ul class="filter-list nav nav-pills nav-stacked">
                <li ng-repeat="item in filter.items" ng-show="$index < 5 || moreOptionsShowFilters[filter.rangeUrlTemplate]" >
                    <label class="checkbox inline">
                        <input type="checkbox" ng-model="item.selected">
                        <span class="">{{ item.name }} ({{ item.quantity }})</span>
                    </label>
                </li>
            </ul>
            <a href="javascript:void(0)" ng-click="moreOptionsShowFilters[filter.rangeUrlTemplate] = true"
               ng-show="filter.items.length > 5 && !moreOptionsShowFilters[filter.rangeUrlTemplate]"
               class="muted">{{ 'filters.moreOptionsShow' | translate}} ({{ filter.items.length }})</a>
            <a href="javascript:void(0)" ng-click="moreOptionsShowFilters[filter.rangeUrlTemplate] = false"
               ng-show="filter.items.length > 5 && moreOptionsShowFilters[filter.rangeUrlTemplate]"
               class="muted">{{ 'filters.moreOptionsHide' | translate}}</a>
        </accordion-group>
    </accordion>

    <button translate class="btn pull-right" ng-click="clearAll()">listing.clearAll</button>

</div>
