<div class="filters-block">
  <h3>
    {{ 'listing.filters' | translate }} 
    <button translate class="btn btn-small btn-clean-filters" ng-if="activeFilters.list.length > 0" ng-click="clearAllFilters()">listing.clearAll</button>
  </h3>

  <div ng-repeat="(name, group) in groups">
    <h3 class="group-header">
      <i class="fa" ng-class="{ 'fa-credit-card': name === 'paymentCondition',
                                 'fa-calendar-o': name === 'date', 
                                   'fa-exchange': name === 'channel',
                                    'fa-refresh': name === 'status', }"></i>
      {{ ('filters.groups.' + name) | translate }}
    </h3>

    <accordion close-others="true">
      <accordion-group ng-repeat="filter in group" ng-if="filter.options.length">

        <accordion-heading>
          {{ 'filters.' + filter.name | translate }}
          <span class="label label-info pull-right" ng-if="filter.active"><i class="fa fa-dot-circle-o"></i></span>
        </accordion-heading>

        <ul class="filter-list nav nav-pills nav-stacked">
          <li ng-repeat="item in filter.options">
            <div ng-class="{'checkbox': filter.type == 'multiple', 'radio': filter.type == 'date'}">
              <label>
                <input type="checkbox" name="{{ ::filter.url }}" ng-if="filter.type == 'multiple'" ng-value="::item.name" ng-model="item.active" ng-checked="item.active" ng-change="updateQueryString()">
                
                <input type="radio" name="{{ ::filter.url }}" ng-if="filter.type == 'date'" ng-value="::item.name" ng-model="item.active" ng-change="updateQueryString()">

                {{ ::item.name | translate }} <span class="text-muted">({{ ::item.quantity }})</span></span>
              </label>
            </div>
          </li>
        </ul>

        <button translate class="btn"
                ng-click="filter.clearSelection()"
                ng-show="filter.type === 'single' && filter.selectedItem">search.clear</button>

      </accordion-group>
    </accordion>
  </div>
</div>