<div class="filters-summary">
  <small ng-if="filters.length" ng-repeat="filter in filters.getAppliedFilters()">
    <span ng-repeat="item in filter.getSelectedItems()">
      <span class="label label-info">
        <span ng-switch="filter.name">
          <span ng-switch-when="status" translate>{{ 'detail.state.' + item.name }}</span>
          <span ng-switch-when="ShippingEstimatedDate" translate>{{ 'filters.group-date-deliver.' + item.name }}</span>
          <span ng-switch-default translate>{{ item.name }}</span>
        </span>
        &nbsp;
        <a href="javascript:void(0);" ng-click="filter.clearItem(item)"><i class="icon-remove-sign"></i></a>
      </span>&nbsp;
    </span>
  </small>
</div>
