<div class="filters-summary">

  <span ng-if="activeFilters.list.length"
				ng-repeat="filter in activeFilters.list"
				ng-if="filter.active">

    <button class="btn btn-xs btn-info" ng-click="disableFilter(filter)" ng-switch on="filter.group">
      <span ng-switch-when="date"> {{ ::('filters.' + filter.filterName) | translate }} : {{::(("listing.dates." + filter.name) | translate)}}</span>
      <span ng-switch-when="status">{{ ::('filters.' + filter.filterName) | translate }} : {{::("transactions.status." + (filter.name | capitalize) | translate)}}</span>
      <span ng-switch-default>{{ ::('filters.' + filter.filterName) | translate }} : {{::filter.name}}</span>
      &nbsp; <i class="fa fa-remove"></i>
		</button>&nbsp;

  </span>

</div>
