<div class="filters-block">
  <h3>
    <span translate>listing.filters</span>
    <button translate class="btn btn-small btn-clean-filters" ng-click="clearAll()">listing.clearAll</button>
  </h3>

  <div ng-repeat="(name, group) in groups">
    <h3 class="group-header">
      <i class="fa" ng-class="{ 'fa-credit-card': name === 'paymentCondition',
                                 'fa-calendar-o': name === 'date', 
                                   'fa-exchange': name === 'channel',
                                    'fa-refresh': name === 'status', }"></i>
      {{ ('filters.groups.' + name) | translate }}
    </h3>

    <accordion close-others="true">
      <accordion-group ng-repeat="filter in group">

        <accordion-heading>
          {{ 'filters.' + filter.name | translate }}
        </accordion-heading>

        <ul class="filter-list nav nav-pills nav-stacked">
          <li ng-repeat="item in filter.options">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-value="item.value" ng-model="item.active" ng-change="updateQueryString()">
                <!-- <input type="radio" name="{{filter.name}}" ng-model="filter.selectedItem" ng-value="item"> -->
                {{ item.name | translate }} <span class="text-muted">({{ item.quantity }})</span></span>
              </label>
            </div>
          </li>
        </ul>

        <button translate class="btn"
                ng-click="filter.clearSelection()"
                ng-show="filter.type === 'single' && filter.selectedItem">search.clear</button>

      </accordion-group>
    </accordion>
  </div>
</div>