<div class="filters-block">
  <h3>
    {{ 'listing.filters' | translate }}
    <button class="btn btn-small btn-clean-filters"
            ng-if="activeFilters.list.length"
            ng-click="clearAllFilters()"
            ga-event ga-category="transaction list" ga-action="clear filters" ga-label="transaction filters"
            translate>listing.clearAll</button>
  </h3>

  <div ng-repeat="(name, group) in groups">
    <h3 class="group-header">
      <i class="fa" ng-class="{ 'fa-credit-card': name === 'paymentCondition',
                                'fa-calendar-o': name === 'date',
                                'fa-exchange': name === 'channel',
                                'fa-refresh': name === 'status', }"></i>
      {{ ('filters.groups.' + name) | translate }}
    </h3>

    <accordion close-others="true">
      <accordion-group ng-repeat="filter in group" ng-if="filter.options.length">

        <accordion-heading>
          {{ 'filters.' + filter.name | translate }}
          <span class="label label-info pull-right" ng-if="filter.active"><i class="fa fa-dot-circle-o"></i></span>
        </accordion-heading>

        <ul class="filter-list nav nav-pills nav-stacked">
          <li ng-repeat="option in filter.options">
            <div ng-class="{ 'disabled': !option.quantity,
                             'checkbox': filter.type == 'multiple',
                             'radio': filter.type == 'date' }">
              <label ng-switch on="filter.group">

                <input name="{{ filter.url }}" type="checkbox"
                       ng-if="filter.type == 'multiple'"
                       ng-change="updateQueryString()" ng-model="option.active"
                       ng-checked="option.active"
                       ng-disabled="!option.quantity">

                <input name="{{ filter.url }}" type="radio"
                       ng-if="filter.type == 'date'"
                       ng-change="updateQueryString()"
                       ng-model="option.active"
                       ng-value="option.name"
                       ng-disabled="!option.quantity">

                <span ng-switch-when="date" translate>{{::("listing.dates." + option.name)}}</span>
                <span ng-switch-when="status" translate>{{::("transactions.status." + (option.name | capitalize))}}</span>
                <span ng-switch-default>{{::option.name}}</span>

                <span class="text-muted">({{ option.quantity }})</span>
              </label>
            </div>
          </li>
        </ul>

        <button class="btn"
                ng-click="filter.clearSelection()"
                ng-show="filter.type === 'single' && filter.selectedItem"
                translate>search.clear</button>

      </accordion-group>
    </accordion>
  </div>
</div>
